@font-face {
  font-family: DejaVuSans;
  src: url("/fonts/dejavu-sans/ttf/DejaVuSansCondensed.ttf") format("truetype");
}
@font-face {
  font-family: DejaVuSansBoldItalic;
  src: url("/fonts/dejavu-sans/ttf/DejaVuSansCondensed-BoldOblique.ttf") format("truetype");
}
@font-face {
  font-family: Gelasio;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/gelasio/Gelasio-Regular.ttf") format("truetype");
}
html,
body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 16pt;
  font-family: DejaVuSans, Verdana, sans-serif;
}