.Brand {
  display: inline;
  vertical-align: bottom;
  font-family: Gelasio, serif;
  width: 100%;
  max-width: 685px;
  padding: 0 0.2%;
}

.SearchForm{
  display: inline;
  margin: 1%;
}

.ResultList li:hover {
  background-color: yellow;
  font-family: DejavuSansBoldItalic;
  cursor: pointer;
}

.PolicyFont {
  font-size: 33%;
}