.Brand {
  display: inline;
  vertical-align: bottom;
  font-family: Gelasio, serif;
  width: 100%;
  max-width: 685px;
  padding: 0 0.2%;
}

.Nav {
  display: inline;
}

.NavList {
  display: inline;
}

.NavList li {
  display: inline;
  margin: 0 2%;
}